.background {
/*	background-image: url('../images/Petranaki_arena.jpg');
	height: 600px;
	background: 50% 50% no-repeat;*/
	background-color: lightblue;
	height: 700px;
}

.fighters, .champion, .opponents, .defeated {
	padding: 20px;
}

img {
	border: 1px solid blue;
	margin: 0 auto;
	height: 100px;
	width: 250px;
	background: 50% 50% no-repeat;
}

.reset {

	padding: 50px 135px;
}

.test {
	width: 250px;
	height: 100px;
	background-color: blue;
}

p {
	font-family: garamond, serif;
	font-weight: bold;
	color: #a04f3b;
	font-size: 20px;
}
